<?xml version="1.0" encoding="UTF-8"?>

<module xmlns="urn:ebx-schemas:module_2.4" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2000">
	<name>complaint-module</name>
	<publicPath>complaint-module</publicPath>
	
	<beans>
		<bean
			className="com.bct.complaintmodule.scripttask.ComplaintEntryScriptTask">
			<documentation xml:lang="en-US">
				<label>COMPLAINT ENTRY - SCRIPT TASK</label>
			</documentation>
			<properties>
				<property name="referenceDataspace" input="true">
					<documentation xml:lang="en-US">
						<label>Dataspace name</label>
					</documentation>
				</property>
				<property name="dataspace" input="true">
					<documentation xml:lang="en-US">
						<label>Dataspace name</label>
					</documentation>
				</property>
				<property name="dataset" input="true">
					<documentation xml:lang="en-US">
						<label>Dataset name</label>
					</documentation>
				</property>
				<property name="table" input="true">
					<documentation xml:lang="en-US">
						<label>Table</label>
					</documentation>
				</property>
				<property name="record" input="true" output="true">
					<documentation xml:lang="en-US">
						<label>Record XPath</label>
					</documentation>
				</property>
			</properties>
		</bean>
		</beans>
</module>