<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:ebx-schemas:module_2.4" xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:ebx-schemas:module_2.4 http://schema.orchestranetworks.com/module_2.4.xsd http://www.w3.org/XML/1998/namespace http://www.w3.org/2001/xml.xsd">
<name>loco_staging</name>
<publicPath>loco_staging</publicPath>

<beans>
<bean className="com.cris.loco_staging.workflow.scripttask.RunReconciliationProcedureScriptTask">
			<documentation xml:lang="en-US">
				<label>Run Reconciliation Procedure Script Task</label>
			</documentation>
			<properties>
				<property name="sqlProcedureName" input="true">
					<documentation xml:lang="en-US">
						<label>SQL Procedure Name</label>
					</documentation>
				</property>					
			</properties>
		</bean>
</beans>
</module>
